@model CreateProjectViewModel
<h2 class="text-center">Post new project</h2>
<hr />
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.Partial("_WorkCreatePartial", Model)

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
